package $package;

import java.util.*;

#(set $baseClass = "${parentName}Adt")

#if($typeParamDeclaration.length() > 0)
	#(set $tpd = "<${typeParamDeclaration}>")
	#(set $tpu = "<${typeParamUsage}>")
	#(set $tpuComma = "${typeParamUsage}, ")
#else
	#(set $tpd = "")
	#(set $tpu = "")
	#(set $tpuComma = "")
#end

public class $name$tpd extends $baseClass$tpu {

#foreach($field in $fields)
	private $field.asType().toString() $field.getSimpleName().toString();
#end

}